/* Reset styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #A1A1A1;
}

@media screen and (max-width: 767px) {
  .mobile__nav-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: grey;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 350ms linear, transform 350ms linear;
  }
  .mobile__nav-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
  .burger-button {
    position: relative;
    z-index: 10;
    background-color: transparent;
    bottom: none;
    display: block;
    margin-left: auto;
  }
  .header__nav__list {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    color: white;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .ham1.active .top {
    stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
    stroke-dashoffset: -138px;
  }
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header__nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 39px;
  }
  .header__nav__item {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
  }
  .header__nav__link {
    position: relative;
    padding-bottom: 20px;
  }
  .header__nav__link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scale(0);
    transform-origin: center right;
    transition: transform 350ms linear;
  }
  .header__nav__link:hover::after {
    transform: scale(1);
    transform-origin: center left;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .header__nav__list {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
  }
  .header__nav__link {
    padding-bottom: 40px;
  }
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.hero__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 134%;
  margin-bottom: 50px;
}

.hero__button {
  display: block;
  padding: 15px 36px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #4985ff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 48px;
  }
}
.about {
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}

.about__title {
  color: #323232;
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 32px;
}

.about__text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 60px;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 55px;
}

.about__item {
  display: flex;
  gap: 17px;
}

.outer__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}

.inner__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #4985ff;
  border-radius: 50%;
}

.about__icon {
  width: 25px;
  height: 25px;
  fill: #4985ff;
}

.about__text-thumb {
  width: 222px;
  text-align: start;
}

.about__item__subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.about__item__text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 158%;
}

.about__button {
  display: block;
  padding: 15px 36px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #4985ff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

@media screen and (min-width: 768px) {
  .about__list {
    gap: 30px;
    flex-direction: row;
    justify-content: center;
  }
  .about__item {
    display: flex;
    flex-direction: column;
  }
  .outer__circle {
    width: 110px;
    height: 110px;
  }
  .inner__circle {
    width: 90px;
    height: 90px;
  }
  .about__icon {
    width: 40px;
    height: 40px;
  }
  .about__text-thumb {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .about__title {
    font-size: 36px;
    line-height: 146%;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
  .about__text {
    line-height: 158%;
    margin-bottom: 70px;
    width: 730px;
    margin-left: auto;
    margin-right: auto;
  }
  .about__list {
    flex-direction: row;
  }
  .about__item {
    flex-direction: row;
  }
  .about__text-thumb {
    width: 222px;
    padding-top: 46px;
  }
}
.standarts {
  background-color: #f6f6f8;
  padding-top: 50px;
  padding-bottom: 35px;
}

.standarts__content {
  margin-bottom: 20px;
}

.standarts__title {
  color: #323232;
  font-size: 25px;
  font-weight: 700;
  line-height: 146%;
  margin-bottom: 30px;
}

.standarts__text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 158%;
  margin-bottom: 21px;
}

.standarts__link {
  color: #4985ff;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
}

.standarts__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .standarts__content {
    margin-bottom: 0px;
  }
  .standarts__thumb {
    display: flex;
    align-items: center;
  }
  .standarts__img {
    width: 400px;
  }
}
@media screen and (min-width: 1140px) {
  .standarts {
    padding-top: 100px;
    padding-bottom: 70px;
  }
  .standarts__thumb {
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 90px;
    margin-bottom: 77px;
  }
  .standarts__title {
    font-size: 36px;
    margin-bottom: 60px;
    width: 424px;
  }
  .standarts__text {
    margin-bottom: 42px;
    width: 489px;
  }
  .standarts__img {
    width: 500px;
  }
  .standarts__list {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .standarts__icon__number {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .standarts__icon {
    width: 30px;
    height: 30px;
    fill: #4985FF;
  }
  .standarts__item-title {
    color: #000;
    font-size: 36px;
    font-weight: 400;
    line-height: 146%;
  }
  .standarts__item-text {
    color: #999;
    font-size: 16px;
    font-weight: 400;
    line-height: 158%;
  }
}
.works {
  padding-top: 50px;
  padding-bottom: 45px;
  background: linear-gradient(180deg, #504dc2 60%, #FFF 40%);
}

.works__title {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 30px;
}

.works__button {
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 36px;
  border-radius: 30px;
  background: #4985ff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  margin-bottom: 30px;
}

.works__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 45px;
}

.works__item-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.works__item-title {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.works__item-title--colored {
  color: #4985FF;
}

.works__item-text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 158%;
  margin-bottom: 24px;
}

.works__item-link {
  color: #4985FF;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
}

@media screen and (min-width: 768px) {
  .works {
    background: linear-gradient(180deg, #504dc2 50%, #FFF 50%);
    padding-top: 100px;
    padding-bottom: 85px;
  }
  .works__title__thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  .works__title {
    margin-bottom: 0;
    width: 430px;
  }
  .works__button {
    margin-bottom: 0;
  }
  .works__list {
    flex-direction: row;
    padding-bottom: 85px;
  }
}
@media screen and (min-width: 1140px) {
  .works__title {
    width: 540px;
  }
}
.projects {
  background-color: #f6f6f8;
  padding-top: 50px;
  padding-bottom: 65px;
}

.projects__title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 146%;
  margin-bottom: 30px;
}

.projects__text {
  color: #999;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 158%;
  margin-bottom: 30px;
}

.projects__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 25px;
}

.projects__img {
  width: 100%;
}

.projects__btn {
  display: block;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #4985ff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 36px;
}

@media screen and (min-width: 768px) {
  .projects {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  .projects__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .projects__img {
    width: 250px;
  }
}
@media screen and (min-width: 1140px) {
  .projects__text {
    margin-left: auto;
    margin-right: auto;
    width: 730px;
  }
  .projects__img {
    width: 255px;
  }
}
.video {
  background-image: url("/img/video/bcg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 570px;
  padding-top: 70px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .video {
    background-image: url("/img/video/bcg@2x.jpg");
  }
}
.video__title {
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 146%;
  margin-bottom: 20px;
}

.video__text {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 158%;
  margin-bottom: 35px;
}

.video__thumb {
  background-image: url("/img/video/video.png");
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__button {
  width: 250px;
  height: 80px;
  border-radius: 200px;
  border: 1px solid #FFF;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 158%;
}

.video__button__icon {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .video__title {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .video__text {
    margin-bottom: 70px;
  }
  .video__thumb {
    width: 700px;
    margin: 0 auto;
  }
  .video__button {
    width: 300px;
    height: 100px;
  }
  .video__button__icon {
    width: 60px;
    height: 60px;
  }
}
@media screen and (min-width: 1140px) {
  .video__thumb {
    width: 970px;
  }
}/*# sourceMappingURL=main.css.map */