@import "./utils/var";
// base
@import "./base/reset";
@import "./base/common";
// layout
@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/standarts";
@import "./layout/works";
@import "./layout/projects";
@import "./layout/video";