.about {
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
}
.about__title {
  color: #323232;
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 32px;
}
.about__text {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  margin-bottom: 60px;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 55px;
}
.about__item {
  display: flex;
  gap: 17px;

}
.outer__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}
.inner__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #4985ff;
  border-radius: 50%;
}
.about__icon {
  width: 25px;
  height: 25px;
  fill: #4985ff;
}

.about__text-thumb {
  width: 222px;
  text-align: start;
}

.about__item__subtitle {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
.about__item__text {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 158%;
}
.about__button {
  display: block;
  padding: 15px 36px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #4985ff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
