.hero {
  height: 800px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
}
.hero__text {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  padding-top: 319px;
}
.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 800;
  line-height: 134.09%;
}
.hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background: var(--Accent, #4985ff);
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}
