.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-image: url(../img/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: gray;
}

.hero__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.hero__title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 134%;
  margin-bottom: 50px;
}

.hero__button {
  display: block;
  padding: 15px 36px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #4985ff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
}


@media screen and (min-width: 768px){

  .hero__title {
    font-size: 48px;
  }

}