.hero {
    height: 800px;
    background-image: url(../img/hero/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: gray;
}
.hero__text {
}
.hero__title {
}
.hero__button {
}
