.video {
    background-image: url("../img/video/bcg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
}
.container {
}
.video__title {
}
.video__text {
}
.video__thumb {
}
.video__button {
}
.video__button__icon {
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1140px) {

}